<form class="form" {{on "submit" this.applyFilters}}>
  <label for="public">Public</label>
  <input id="public" type="checkbox" {{on "input" this.toggleFilterType}} class="input" checked={{this.selectedFilters.public}} />
  <label for="private">Private</label>
  <input id="private" type="checkbox" {{on "input" this.toggleFilterType}} class="input" checked={{this.selectedFilters.private}} />
  {{#each @languages as |language|}}
    <label for={{language}}>{{language}}</label>
    <input id={{language}} type="checkbox" value={{language}} {{on "input" this.toggleLanguageFilter}} class="input" />
  {{/each}}
  <button type="submit" class="button">Filter Repositories</button>
</form>
